*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header nav{
    display: flex;
    justify-content: flex-end;
    background-color: #00AEFF;
    width: 100%;
    height: 70px;
    /* padding: 8px; */
    /* border-right: 3px solid orangered; */
}

.image{
    /* background-image: url(../img/1.jpg); */
    position: relative;
    display: flex;
    height: 45px;
    width: 100%;
    border-radius: 50px;
    margin-top: 10px;
    background-color: #084482;
}
.image p{
    font-size: 10px;
    color: #00AEFF;
}
.im{
    height: 45px;
    width: 50px;
    border-radius: 50%;
    background-image: url(../img/1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.test1{
    height: 70px;
    width: 220px;
    padding: 0 10px 0 10px;
    border-right:1px solid white;
    border-left: 1px solid white;
    /* background-color: yellow; */
}
.nigeria{
    display: flex;
    padding: 10px 5px 10px 10px;
    height: 70px;
    width: 80px;
    /* background-color: lawngreen; */
    
}
.nig-img{
    height: 40px;
    width: 40px;
    background-image: url(../img/nig.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    /* background-color: lightpink; */
    
}
.account{
    display: flex;
    width: 160px;
    padding: 10px 15px 5px 5px;
    /* background-color: red; */
}

header nav .fa-whatsapp{
    background: green;
    color: white;
    margin-top: 15px;
    margin-right: 10px;
    height: 28px;
    border-radius: 50%;
    border: 1px solid white;
     /* padding: 6px; */
    /* padding: 10px; */
}

span{
    margin-top: 15px;
}
.first-sort .fa-sort-down{
    margin-top: 12px;
}

.fa-user-circle-o{
    margin-right: 10px;
    background: white;
    border-radius: 50%;
    margin-top: 7px;
    height: 30px;
    color: blue;
    padding: 6px;
}
.acc a{
    text-decoration: none;
    color: white;
}
.acc, .fa-sort-down{
    margin-top: 10px;
}
span, .fa-sort-down{
    color: white;
}

 .nigeria, .account{
    /* margin-right: 10px; */
    border-right: 1px solid white;
}


.hotel{
    position: relative;
    height: 60vh;
    width: 100%;
    background-image: url(../img/hotel.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.para{
    position: absolute;
    top: 40%;
    left: 38%;
}
.para h1, h2{
    color: white;
}
.para h2{
    /* background-color: aqua; */
    padding: 10px 10px 0 40px;
}

.last{
    height: 150px;
    width: 500px;
    /* background-color: seagreen; */
    position: absolute;
    bottom: 0;
    left: 35%;
    padding: 50px 0 0 50px;
}
.last h1, h3{
    text-align: center;

}
.line{
    border-bottom: 3px solid #00AEFF;
    width: 45px;
    margin-left: 40%;
    margin-top: 10px;
}


.main-center{
    display: flex;
    height: 150px;
    width: 1100px;
    background-color: whitesmoke;
    position: absolute;
    top: 85%;
    left: 18%;
    padding: 60px 30px 0 30px;
}
input{
    width: 300px;
    height: 40px;
    border: none;
}
.one{
    width: 350px;
    height: 45px;
    border: 1px solid gray;
    /* background-color: seagreen; */
}
.p-two{
    display: flex;
    width: 250px;
    height: 45px;
    border: 1px solid gray;
    /* background-color: rgb(17, 255, 57); */

}

.two{
    margin-left: 15px;
    padding-top: 10px;
    width: 250px;
    height: 40px;
    /* background-color: hotpink; */
}
.p-three{
    display: flex;
    width: 250px;
    height: 45px;
    border: 1px solid gray;
    /* background-color: tomato; */
}

.three{
    padding-top: 10px;
    margin-left: 15px;
    width: 250px;
    height: 40px;
    /* background-color: yellow; */
}
.find{
    width: 120px;
    height: 45px;
    background-color: #00AEFF;
    padding: 15px 0 0 15px;
    color: white;
}
.fa-calendar{
    margin-top: 10px;
    margin-left: 10px;
}
.fa-search{
    padding: 10px;
}
.one, .p-two, .p-three, .find{
    margin-right: 10px;
    border-radius: 5px;
}

.drop{
    height: 100px;
    width: 180px;
    background-color: white;
    position: absolute;
    z-index: 1;
    top: 8.5%;
    left: 72.5%;
    /* display: none; */
    

}
.test1:hover .drop{
    display: block;
}
/* .fa-sort-up{
    bottom: 0;
    margin-left: 140px;
    color: white;
    display: none;

} */
.sort{
    width: 20px;
    height: 15px;
    background-color: violet;
    margin-left: 135px;
    /* display: none; */
    color: white;
}
.num{
    padding: 0 0 0 40px;
    margin-bottom: 10px;
}





